<p id="notice"><%= notice %></p>

<h1>Contacts</h1>
  <div class="clearfix">
    <% @contacts.each do |contact| %>
      <%= link_to contact do %>
        <div class="contents">
          <p>Name:<%= contact.name %></p>
          <p>Email:<%= contact.email %></p> 
          <p>Content:<%= contact.content %></p>
        </div>
      <% end %>
    <% end %>
  </div>

