<p id="notice"><%= notice %></p>

<div class="detail">
  <strong>Name:</strong>
  <%= @contact.name %>
</div>

<div class="detail">
  <strong>Email:</strong>
  <%= @contact.email %>
</div>

<div class="detail">
  <strong>Content:</strong>
  <%= @contact.content %>
</div>

<div class="detail">
  <%= link_to 'Edit', edit_contact_path(@contact) %> |
  <%= link_to 'Delete', @contact, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to 'Back', contacts_path %>
</div>
